  <h4 class="text-primary" style="color: #4b66c5"><b>Pour nous contacter : </b></h4> <br>

  <h4 class="center-block" style="background-color: white; width: 350px; padding-top: 15px; 
                                    padding-bottom: 15px; border: 3px solid rgb(115, 146, 187); 
                                    text-align: center; background: withe;border-radius: 5px;">
    <p>Finançons Ensemble<p>
  </h4>


  <h4 class="center-block" style="background-color: white; width: 350px; padding-top: 15px; 
  padding-bottom: 15px; border: 3px solid rgb(115, 146, 187); 
  text-align: center; background: withe;border-radius: 5px;">
  <p><span class="glyphicon glyphicon-envelope"></span> Contact@finançonsensemble.com<p>
  </h4>


  <h4 class="center-block" style="background-color: white; width: 350px; padding-top: 15px; 
  padding-bottom: 15px; border: 3px solid rgb(115, 146, 187); 
  text-align: center; background: withe;border-radius: 5px;">
  <p><span class="glyphicon glyphicon-phone"></span>  +33 3 20 64 53 19<p>
  </h4>


  <h4 class="center-block" style="background-color: white; width: 350px; padding-top: 15px; 
  padding-bottom: 15px; border: 3px solid white; 
  text-align: center; background: withe;border-radius: 5px;">
    <a href="https://fr.linkedin.com/company/groupe-adaming"><img src="assets/images/linkedin.png" alt="image" style="background-color: white; width: 38px"></a>
    <a href="https://www.facebook.com/GroupeAdamingFrance/"><img src="assets/images/facebook.png" alt="image" style="background-color: white; width: 50px"></a>
    <a href="https://twitter.com/groupeadaming?lang=fr"><img src="assets/images/twitter.png" alt="image" style="background-color: white; width: 38px"></a>
  </h4>



